@model IEnumerable<WebBanHang.Models.Coupon>


@if (Model == null)
{
    <script>
        alert("Mã không áp dụng cho các sản phẩm trong giỏ hàng !");
    </script>
}
else
{
    <table id="coupon-selected" class="table">
        <tr>
            <th>Mã</th>
            <th>% giảm</th>
            <th>Sản phẩm giảm</th>
            <th></th>
        </tr>
        @*Name coupon | % | remove*@
        @foreach (var cp in Model)
        {
            <tr class="mt-2 text-center">
                <td class="text-break">@cp.Code</td>
                <td>@cp.Discount</td>
                <td>@cp.p.Name</td>
                <td>
                    <a href="#" class="text-danger" style="cursor: pointer;">Xóa</a>
                </td>
            </tr>
        }
    </table>

}

