@model WebBanHang.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security


<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                    @foreach (AuthenticationDescription p in loginProviders)
                    {

                    <button type="submit" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" class="btn btn-lg btn-google btn-block text-uppercase btn-outline"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Đăng nhập bằng tài khoản @p.AuthenticationType</button>

                    }
            </div>
        }
    }
}
