
@{
    ViewBag.Title = "SuccessResetPass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center mt-5">Thay đổi mật khẩu thành công <i class="fa fa-check" style="color: green;"></i></h2>



